*.pt
Dataa.xlsx
github/
Hindi_Marathi/
Hindi_Nepali/
Machine_Translation/
new/
old_files/Version1/checkpoint1.2B/
old_files/Version1/checkpoint1.2B_Mr-Hi/
old_files/Version2/checkpoint1.2B/
old_files/Version2/checkpoint1.2B_Mr-Hi/
old_files/Version3/checkpoint1.2B/
old_files/Version3/checkpoint1.2B_Mr-Hi/
old_files/Version4/checkpoint1.2B/
old_files/Version4/checkpoint1.2B_Mr-Hi/
Mann_Ki_Baat/check
Mann_Ki_Baat/checkpoint1.2B_Mr
Mann_Ki_Baat/checkpoint1.2B
Mann_Ki_Baat/MKB_HI-MR
Mann_Ki_Baat/MKB_MR-HI
backtranslation/
trial/check
trial/checkpoint1.2B
Mann_Ki_Baat/Miniconda3-latest-Linux-x86_64
Mann_Ki_Baat/demoenv